.mdn--item {
    height: auto;
    flex-flow: row wrap;
    padding: 5px 0 5px 5px;
}

.mdn--item--title {
    width: 100%;
    padding-bottom: 5px;
}

.mdn--item--tags {
    font-size: 0.750em;
    padding-bottom: 5px;
}

.mdn--item--excerpt {
    width: 100%;
    font-size: 0.625em;
    padding-bottom: 5px;
}
